@model griptide.Domain.Entities.ContentEntry

<div class="contentEntry">
    <div class="contentEntryHeader">
        <div style="display: inline; height: auto;">
            <img height="75px" width="75px" src="@Url.Content("~/Content/images/"+ Model.ImagePath)" style="float: left; margin: 10px; border: 3pt solid #AAA;"/>
            <div class="contentTableHolder">
                <table id="contentEntryTable" class="contentEntryHeaderTable">
                    <tr>
                        <td>
                            @if(Model.PostID != null){
                                string urlContent= "";
                                urlContent = string.Format("~/{0}/{1}?postID={2}", Model.Controller, Model.Action, @Model.PostID);
                                
                                <a href="@Url.Content(urlContent)">
                                    <span id="contentEntryTitle" class="contentTitle floatLeft">@Model.EntryTitle</span>
                                </a>
                            } else {
                                <span id="contentEntryTitle" class="contentTitle floatLeft">@Model.EntryTitle</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span id="contentEntryDate" class="contentDate floatLeft">@Model.DateCreated</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <span id="contentEntryText" class="contentText floatLeft contentHeaderPadLeft">@Html.Raw(Model.EntryText)</span>
</div>