<meta name="viewport" content="width=device-width" />
<title>@ViewBag.Title</title>
<link href="@Url.Content("~/Content/css/gtSite.css")" rel="Stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/css/Graphics.css")" rel="Stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Content/scripts/jquery-1.9.1.min.js")"></script>
@*<script type="text/javascript" src="@Url.Content("~/Content/scripts/PicViewer.js")"></script>*@
<script type="text/javascript" src="@Url.Content("~/Content/scripts/gtShared.js")"></script>